<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android" android:versionCode="1" android:versionName="1.0" package="com.neilmalcolm.AlarmApp">
	<uses-sdk android:minSdkVersion="15" />
	<uses-permission android:name="com.android.alarm.permission.SET_ALARM" />
	<uses-permission android:name="android.permission.WAKE_LOCK" />
	<uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
	<uses-permission android:name="android.permission.VIBRATE" />
	<application android:label="AlarmApp"></application>
	<receiver android:name=".AlarmReceiver" android:enabled="true" android:exported="true" />
</manifest>